@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root{
    --primary-green: #8bb500d6;
    --secondary-green:#C5D951;
    --third-gree:#B1C868;
    --primary-yellow: #FEFE8A;
    --primary-white:#FFFF;
    --gray-1:#C6C3C3;
    --gray-2:#595959;
    --black:#0D0D0D;
}
body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-height: 200vh;
    background-color:#fefe8a41;
}
section{
    position:relative;
    max-width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
/*TITULOS   */
.title-section{
    margin-left: 0;
    text-align: center;
    font-size: 2em;
    margin-top: 5rem;
    color: var(--primary-green);
}

/*HEADER*/
  header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition:0.6s;
    padding: 10px 50px;
    z-index: 1000;
    background-color:var(--primary-white);
    border-style:solid;
    border-color: #c6c3c33f;
    border-width: 2.5px;
    border-top: none; border-left: none; border-right: none;
}
#sign-up{
    padding: 15px 50px;
    width: 40px;
    color: var(--primary-white);
    background-color: var(--primary-green);
    border-radius: 50px;
}
#sign-up:hover{
    color: var(--primary-white);
    background-color: var(--secondary-green);
}
#log-in{
    padding: 15px 50px;
    background-color: var(--primary-white);
    border-radius: 50px;
}
#log-in:hover{
    color: var(--primary-white);
    background-color: var(--gray-1);
}
header .logo{
    cursor: pointer;
    position:relative;
}

header .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

header .logo img:hover{
    transform: scale(1.2);
}

header .navbar-list a{
    position:relative;
    list-style-type: none;
    color:var(--gray-2);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background-color;
}

header .navbar-list a:not(:last-child){
    position: relative;
    margin-right: 30px;
}

header .navbar-list a:hover{
    color: var(--primary-green);
}
/*INICIO*/


/*¿COMO FUNCIONA?*/


/*PLANES*/
.section_planes {
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 100px 0;
   
}
.planes-container {
    width: 16%; /* Ajustado para que quepan los tres planes en una fila */
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center; /* Alineación centrada del texto */
    margin-right: 2%; 
}

.subtitulo2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary-green); /* Cambiado a color primario */
    position: relative; /* Posición relativa para la línea */
}
.subtitulo2::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Posición debajo del título */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%);
    width: 150px; /* Longitud de la línea */
    height: 1px; /* Grosor de la línea */
    background-color: #4B4B4B; /* Color de la línea */
}

.table {
    list-style-type: none;
    padding: 6px;
}

.column {
    margin-bottom: 10px;
    color: var(--gray-2); /* Cambiado a gris */
    text-align: justify;
}

.btn {
    display: block;
    width: 86%;
    text-align: center;
    background-color: var(--primary-green); /* Cambiado a color primario */
    color: #ffffff;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 19px;
    transition: background-color 0.3s ease;
    position: relative; /* Posición relativa para el pseudo-elemento */
    
}
.btn::before {
    content: '';
    position: absolute;
    top: -5px; /* Posición arriba del botón */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%);
    width: 150px; /* Longitud de la línea */
    height: 1px; /* Grosor de la línea */
    background-color: #4B4B4B; /* Color de la línea */
}
.btn:hover {
    background-color: var(--secondary-green); /* Cambiado a color secundario */
}

/*CONTACTANOS*/
.contactanos-container {
    width: 60%;
    text-align: center;
    text-align: center;
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;
}
.form-container {
    text-align: center;
    box-shadow: 0px 0px 1
}

.contact-container label{
    color:var(--gray-2);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--secondary-green);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff; /* Rellenado de blanco */
    color: #555555; /* Letras matizadas */
    font-size: 1em;
    transition: border-color 0.3s; /* Transición suave del color del borde */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #333333; /* Borde al enfocar */
}

textarea {
    height: 150px;
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color: #555555;
    color: #ffffff;
}

/*footer*/

.footer-container {
    background-color:var(--primary-green);
}

.content-container {
    background-color: var(--primary-lightblue);
    display: flex;
}

.img-footer-logo {
    margin-top: 14%;
    margin-left: 50%;
    width: 30%;
}
.footer-copyright{
    text-align: center;
}
.subtitle {
    font-size: 170%;
    color: var(--primary-white);
}

.footer-link {
    margin-left: 5%;
    font-size: 120%;
    color: var(--primary-white);
}

.footer-community{
    margin-top: 2%;
    margin-left: 3%;
    text-align: left;
}
.footer-service{
    margin-top: 2%;
    margin-left: 6%;
    text-align: left;
}

.footer-followUs {
    margin-top: 2%;
    margin-left: 3%;
    text-align: left;
}

ul {
    list-style-type: square;
}

ul li::marker {
    color: var(--primary-white);
}

.footer-copyright {
    color: var(--primary-white);
}
