@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root{
    --primary-green: #8bb500d6;
    --secondary-green:#C5D951;
    --third-gree:#B1C868;
    --primary-yellow: #FEFE8A;
    --primary-white:#FFFF;
    --gray-1:#C6C3C3;
    --gray-2:#595959;
    --black:#0D0D0D;
}
body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-height: 200vh;
    background-color:#fefe8a41;
}
section{
    position:relative;
    max-width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
/*TITULOS   */
.title-section{
    margin-left: 0;
    text-align: center;
    font-size: 2em;
    margin-top: 5rem;
    color: var(--primary-green);
}

/*HEADER*/
  header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition:0.6s;
    padding: 10px 50px;
    z-index: 1000;
    background-color:var(--primary-white);
    border-style:solid;
    border-color: #c6c3c33f;
    border-width: 2.5px;
    border-top: none; border-left: none; border-right: none;
}
#sign-up{
    padding: 15px 50px;
    width: 40px;
    color: var(--primary-white);
    background-color: var(--primary-green);
    border-radius: 50px;
}
#sign-up:hover{
    color: var(--primary-white);
    background-color: var(--secondary-green);
}
#log-in{
    padding: 15px 50px;
    background-color: var(--primary-white);
    border-radius: 50px;
}
#log-in:hover{
    color: var(--primary-white);
    background-color: var(--gray-1);
}
header .logo{
    cursor: pointer;
    position:relative;
}

header .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

header .logo img:hover{
    transform: scale(1.2);
}

header .navbar-list a{
    position:relative;
    list-style-type: none;
    color:var(--gray-2);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background-color;
}

header .navbar-list a:not(:last-child){
    position: relative;
    margin-right: 30px;
}

header .navbar-list a:hover{
  color: var(--primary-white);
  background-color: var(--secondary-green);    
}
header label {
  display: none;
}

#check {
  z-index: 3;
  display: none
}
/*INICIO*/


.highlight-color {
  color: #8CB500;
}

.fit-color {
  color: #8CB500;
}

.hub-color {
  color: #C5D951;
}

.inicio__button {
  background-color: #C5D951;
}

.inicio__button:hover {
  background-color: #ACCC4C;
}

/*¿COMO FUNCIONA?*/


.como-funciona {
  background-color: #F0F0F0;
  padding: 4rem 0;
}
.como-funciona .container {
  text-align: center;
}
.como-funciona h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}
.como-funciona__title {
  font-size: 8rem; 
  color: #8CB500; 
  text-align: center;
  margin-bottom: 1rem;
}
.como-funciona p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.como-funciona__text {
  text-align: left;
  margin-bottom: 1rem;
}
.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.como-funciona__text .highlight-color {
  color: #8CB500;
}
.entrenamiento-online {
  color: #8CB500; /* Color deseado */
}

/*PLANES*/
.section_planes {
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 100px 0;
   
}
.planes-container {
    width: 16%; /* Ajustado para que quepan los tres planes en una fila */
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center; /* Alineación centrada del texto */
    margin-right: 2%; 
}

.subtitulo2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary-green); /* Cambiado a color primario */
    position: relative; /* Posición relativa para la línea */
}
.subtitulo2::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Posición debajo del título */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%);
    width: 150px; /* Longitud de la línea */
    height: 1px; /* Grosor de la línea */
    background-color: #4B4B4B; /* Color de la línea */
}

.table {
    list-style-type: none;
    padding: 6px;
}

.column {
    margin-bottom: 10px;
    color: var(--gray-2); /* Cambiado a gris */
    text-align: justify;
}

.btn {
    display: block;
    width: 86%;
    text-align: center;
    background-color: var(--primary-green); /* Cambiado a color primario */
    color: #ffffff;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 19px;
    transition: background-color 0.3s ease;
    position: relative; /* Posición relativa para el pseudo-elemento */
    
}
.btn::before {
    content: '';
    position: absolute;
    top: -5px; /* Posición arriba del botón */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%);
    width: 150px; /* Longitud de la línea */
    height: 1px; /* Grosor de la línea */
    background-color: #4B4B4B; /* Color de la línea */
}
.btn:hover {
    background-color: var(--secondary-green); /* Cambiado a color secundario */
}

/*CONTACTANOS*/
.contactanos-container {
    width: 60%;
    text-align: center;
    text-align: center;
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;
}
.form-container {
    text-align: center;
    box-shadow: 0px 0px 1
}

.contact-container label{
    color:var(--gray-2);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--secondary-green);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff; /* Rellenado de blanco */
    color: #555555; /* Letras matizadas */
    font-size: 1em;
    transition: border-color 0.3s; /* Transición suave del color del borde */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #333333; /* Borde al enfocar */
}

textarea {
    height: 150px;
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color: #555555;
    color: #ffffff;
}

/*footer*/

.footer-container {
    background-color:var(--primary-green);
}

.content-container {
    background-color: var(--primary-lightblue);
    display: flex;
}

.img-footer-logo {
    margin-top: 14%;
    margin-left: 50%;
    width: 30%;
}
.footer-copyright{
    text-align: center;
}
.subtitle {
    font-size: 170%;
    color: var(--primary-white);
}

.footer-link {
    margin-left: 5%;
    font-size: 120%;
    color: var(--primary-white);
}

.footer-community{
    margin-top: 2%;
    margin-left: 3%;
    text-align: left;
}
.footer-service{
    margin-top: 2%;
    margin-left: 6%;
    text-align: left;
}

.footer-followUs {
    margin-top: 2%;
    margin-left: 3%;
    text-align: left;
}

ul {
    list-style-type: square;
}

ul li::marker {
    color: var(--primary-white);
}

.footer-copyright {
    color: var(--primary-white);
}



/*Responsive typography*/
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3.5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {

  font-size: var(--normal-font-size);
  font-weight: 500;
  color: var(--text-color);
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*===========Reusable CSS Classes=============*/
.container {
  max-width: 1024px;
  margin-left: 1rem;
  margin-right: 1rem;
}


/*=============== inicio ===============*/
.inicio {
  position: relative;
  min-height: 100vh;
  background: url(https://cdn.discordapp.com/attachments/1227176636328185917/1228597867967414313/home.png?ex=662c9fed&is=661a2aed&hm=abbedbb0b365b3dedcabe3de951e88c885d53250ca4389b9875037a02d1ed6af&) no-repeat;
  background-size: cover;
  background-position: center;
}

.inicio__container {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  max-width: 30%;
}

.inicio__data {
  text-align: center;
}

.inicio__data .inicio__description {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  line-height: 2.7rem;
}


.inicio__data p {
  font-size: 1.5rem;
}

.inicio__button {
  margin-top: 2rem;
  display: inline-block;
  color: var(--primary-white);
  padding: .80rem 1.5rem;
  border-radius: 3rem;
  transition: .4s;
}

.inicio__button:hover {
  box-shadow: 0 4px 12px hsla(0, 0%, 0%, 0.2);
}

.inicio__footer {
  display: flex;
  justify-content: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  align-self: flex-end;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .inicio {
    padding-top: 7rem;
  }
}
@media screen and (max-width: 960px) {
  .inicio__container {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
  .inicio__data .inicio__description{
    font-size: 2.5rem;
  }
  .inicio__data p{
    font-size: 1rem;
  }
  header a {
    padding: 10px 20px;
    margin-top: 20px;
    background:none ;
}
header .navbar-list {
  display: none;
}

header .navbar-list a {
  color: var(--primary-green);
}

.logo {
  display: none;
}

header label {
  padding: 0.8em;
  display: block;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}

.fa-bars {
  color: var(--primary-green);
}

label:hover {
  color: var(--primary-green);
}

label .fa-xmark {
  display: none;
}

#check:checked~header .navbar-list {
  z-index: 2;
  position: fixed;
  background: var(--primary-yellow);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#check:checked~header .navbar-list a {
  font-weight: 700;
  margin-right: 0;
  margin-bottom: 50px;
  letter-spacing: 2px;
  background-color:var(--primary-yellow);
}
#sign-up{
  color: var(--primary-green)
}

#check:checked~header label .fa-bars {
  display: none;
}

#check:checked~header label .fa-xmark {
  z-index: 2;
  display: block;
  position: fixed;
}
}
/* For large devices */

@media screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }

  .inicio {
    height: initial;
    row-gap: 4rem;
  }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
  body {
    zoom: 3.1;
  }
}

